@import "../../../styles_variables.scss";

nav {
  background-color: $bg-primary;
  padding: 0;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;

  img {
    padding: 0;
    margin: 0;
    width: 150px;
    height: 53px;
  }

  .toggle-container {
    background-color: $bg-primary;
    position: fixed;
    top: 0;
    left: 0;
    height: 53px;
    display: flex;
    width: 50px;
    align-items: center;
    z-index: 99999;
    img {
      padding: 6.5px 10px;
      height: 40px;

      &:hover {
        background: $bg-primary-hover;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 770px) {
  nav {
    img {
      width: 176px;
      height: 73px;
    }
    .toggle-container {
      height: 73px;
      img {
        padding: 16.5px 10px;
        height: 40px;
      }
    }
  }
}
