<div class="map-items-container">
  <nav>
    <app-search-bar></app-search-bar>
  </nav>
  <div class="page-container">
    <div class="sort-container">
      <P>Sort Items by:</P>
      <label for="none">None</label>
      <input type="radio" name="sort" id="none" value="none" />
      <label for="none">Name</label>
      <input type="radio" name="sort" id="name" value="name" />
      <label for="none">Date</label>
      <input type="radio" name="sort" id="date" value="date" />
    </div>
    <div class="filter-container">
      <label for="filter">Show </label>
      <select name="filter" id="filter">
        <option value="all">All</option>
        <option value="foods/drinks">Foods / Drinks</option>
        <option value="parks/sights">Parks / Sights</option>
        <option value="sleep/rest">Sleep / Rest</option>
        <option value="sports shows">Sports / Shows</option>
        <option value="variety shows">Variety / Shows</option>
      </select>
    </div>
    <div class="items-list-container">
      <p>items here...</p>
      <p>items here...</p>
      <p>items here...</p>
    </div>
  </div>
</div>
