<div class="map-items-container">
  <nav>
    <app-search-bar></app-search-bar>
  </nav>
  <div class="page-container">
    <div class="sort-container">
      <P>Sort Items by:</P>
      <label for="none">None</label>
      <input type="radio" name="sort" id="none" value="none" />
      <label for="none">Name</label>
      <input type="radio" name="sort" id="name" value="name" />
      <label for="none">Date</label>
      <input type="radio" name="sort" id="date" value="date" />
    </div>
    <div class="filter-container">
      <p>filtering</p>
    </div>
  </div>
</div>
