@import '../../../styles_variables.scss';

.map-items-container {
  min-height: $full-page-height;

  nav {
    height: 62px;
    background-color: $bg-accent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6px;
  }
}

@media (min-width: 600px) {
  .map-items-container {
    nav {
      padding-right: 20px;
    }
  }
}
