@import "../../../../styles_variables.scss";

.search-container {
  display: flex;
  width: inherit;
  button {
    float: right;
    padding: 6px 10px;
    background: $bg-primary;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }
  input[type="text"] {
    padding: 6px;
    font-size: 17px;
    border: none;
    width: 100%;
  }

  input:focus {
    border: none;
    outline-width: 0;
  }
}

@media (min-width: 770px) {
}
