$bg-primary: #2F4858;
$bg-primary-hover: #345061;
$bg-secondary: #33658A;
$bg-secondary-hover: #39709b;
$bg-accent: #86BBD8;
$bg-accent-hover: #78a7c0;

$text-light: #FFF4F4;
$text-grey: #9F9F9F;
$text-dark: #040404;
