<div class="map-items-container">
  <nav>
    <app-search-bar></app-search-bar>
  </nav>
  <div class="page-container">
    <div class="sort-container">
      <P>Sort by:</P>
      <label for="none">None</label>
      <input type="radio" name="sort" id="none" value="none" />
      <label for="none">Name</label>
      <input type="radio" name="sort" id="name" value="name" />
      <label for="none">Date</label>
      <input type="radio" name="sort" id="date" value="date" />
    </div>
    <div class="filter-container">
      <label for="filter">Show </label>
      <select name="filter" id="filter">
        <option value="all">All</option>
        <option value="foods/drinks">Foods / Drinks</option>
        <option value="parks/sights">Parks / Sights</option>
        <option value="sleep/rest">Sleep / Rest</option>
        <option value="sports shows">Sports / Shows</option>
        <option value="variety shows">Variety / Shows</option>
      </select>
    </div>
    <div class="items-list-container">
      {{ searchFilter }}
      <div
        class="map-items"
        *ngFor="
          let item of mapItems
            | async
            | searchFilterMarker: searchFilter
            | paginate: { itemsPerPage: 8, currentPage: p }
        "
      >
        <div class="top">
          <div class="name">
            <strong>{{ item.name }}</strong>
          </div>
          <div class="category">
            <img src="assets/icons/map-pin.svg" alt="" srcset="" />
            <span>{{ item.category }}</span>
          </div>
        </div>
        <hr />
        <div class="bottom">
          <div class="date">
            <strong>Created:</strong>
            <span>{{ item.created }}</span>
          </div>
          <div class="options">
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon style="font-size: 30px">edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a home icon"
              (click)="deleteItem(item.id)"
            >
              <mat-icon style="font-size: 30px">delete</mat-icon>
            </button>
            <!-- <span (click)="deleteItem(item.id)">
              <img src="assets/icons/trash-2.svg" alt="" srcset="" />
            </span> -->
          </div>
        </div>
      </div>
      <div class="paginate-container">
        <pagination-controls
          (pageChange)="p = $event"
          class="my-pagination"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
