@import "src/styles_variables.scss";

.primary-icon {
  fill: red !important;
}

.map-items-container {
  min-height: $full-page-height;
  background-color: $bg-secondary;

  nav {
    background-color: $bg-accent;
    align-items: center;
    padding-right: 6px;
    padding: 2px 0;
    .search-container {
      width: 100%;
    }
  }

  .page-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-bottom: 20px;

    .sort-container {
      display: flex;
      align-items: center;
      background-color: #67aace4f;
      padding-left: 0;
      padding-right: 30px;
      height: 51px;
      width: 100%;
      margin-top: 0px;

      P {
        background-color: $bg-primary;
        color: $text-light;
        font-size: 14px;
        font-weight: bolder;
        margin: 0 10px 0 0;
        padding: 0 10px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
      }

      .sort-options {
        display: flex;
        justify-content: space-around;
        width: 100%;
        button {
          color: rgb(190, 188, 188);

          .icon {
            color: inherit;
            font-size: 20px;
            margin-left: -5px;
            font-weight: 900;
          }

          &.selected {
            color: white;
          }
        }
      }
    }

    .filter-container {
      grid-column: 1/3;
      display: flex;
      justify-content: flex-end;
      height: 51px;
      padding: 10px 0;
      label {
        background-color: $bg-primary;
        padding: 10px 20px;
        font-size: 14px;
        color: $text-light;
        font-weight: bolder;
        display: flex;
        align-items: center;
      }

      select {
        background-color: whitesmoke;
        font-weight: bold;
        text-align: center;
      }
    }
    .items-list-container {
      grid-column: 1/3;
      // background-color: whitesmoke;
      // height: 100%;

      .mat-card {
        margin-bottom: 8px;
        .mat-card-title {
          display: flex;
          justify-content: space-between;
          .name {
            font-size: 15px;
          }
          .category {
            display: flex;
            align-items: center;
            font-size: 15px;
            img {
              margin-right: 5px;
            }
          }
        }

        .mat-divider {
          border-top-width: 2px;
          border-color: #333;
        }

        .mat-card-actions {
          padding-top: 12px;
          padding-left: 8px;
          display: flex;
          justify-content: space-between;
          .date {
            strong {
              padding-right: 10px;
            }
          }
        }
      }

      .paginate-container {
        /*** Pagination Styling Starts Here... ***/
        margin-top: 50px;
        text-align: center;

        .my-pagination ::ng-deep {
          .ngx-pagination {
            li {
              background: #67aace4f;
              // color: grey;
              &.ng-star-inserted .ng-star-inserted {
                padding: 10px;
                color: rgb(190, 192, 194);
                &:hover {
                  color: #333 !important;
                  font-weight: bold;
                }
              }
              &.disabled {
                padding: 10px !important;
              }
              &.current {
                padding: 10px;
                .ng-star-inserted,
                .ng-star-inserted:hover {
                  color: #fff !important;
                  font-weight: bolder;
                }

                span {
                  &.ng-star-inserted {
                    padding: 0;
                  }
                }
              }
              &.pagination-previous,
              &.pagination-next {
                font-weight: bolder;
                background-color: $bg-primary;
                &:hover .ng-star-inserted {
                  background-color: $bg-primary;
                }
                &.disabled {
                  cursor: not-allowed;
                  .ng-star-inserted,
                  .ng-star-inserted:hover {
                    color: rgb(179, 179, 180) !important;
                  }
                }
                .ng-star-inserted {
                  color: rgb(179, 179, 180) !important;
                  &:hover {
                    color: #fff !important;
                  }
                }
              }
              // .current {}
            }
          }
        }
      }
    }
  }
}

@media (min-width: 770px) {
  .map-items-container {
    nav {
      display: flex;
      justify-content: flex-end;
      padding: 5px 10px 5px;
      .search-container {
        width: 40%;
      }
    }

    .page-container {
      grid-template-columns: 440px 1fr;
      grid-template-rows: auto 1fr;
      margin-top: 40px;
      padding-bottom: 100px;

      .sort-container {
        grid-column: 1/2;
        -webkit-box-shadow: -1px 5px 7px 1px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: -1px 5px 7px 1px rgba(0, 0, 0, 0.44);
        box-shadow: -1px 5px 7px 1px rgba(0, 0, 0, 0.44);

        p {
          padding: 0 10px;
          font-size: 16px;
        }
      }

      .filter-container {
        grid-column: 2/3;
        padding: 0;
        label,
        select {
          -webkit-box-shadow: -1px 5px 7px 1px rgba(0, 0, 0, 0.44);
          -moz-box-shadow: -1px 5px 7px 1px rgba(0, 0, 0, 0.44);
          box-shadow: -1px 5px 7px 1px rgba(0, 0, 0, 0.44);
        }
      }
      .items-list-container {
        margin-top: 2rem;
        padding: 25px 20px 0 20px;

        .mat-card {
          margin-bottom: 15px;
          .mat-card-title {
            .name {
              font-size: 18px;
            }
            .category {
              font-size: 15px;
            }
          }

          .mat-divider {
            border-top-width: 2px;
            border-color: #333;
          }
        }

        .paginate-container {
          margin-top: 50px;
          // background-color: red;
          text-align: right;
          .my-pagination ::ng-deep {
            .ngx-pagination {
              li {
                background: #67aace4f;

                &.ng-star-inserted .ng-star-inserted {
                  padding: 15px;
                }
                &.disabled {
                  padding: 15px !important;
                }
                &.current {
                  padding: 15px;

                  span {
                    &.ng-star-inserted {
                      padding: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 2100px) {
  .map-items-container {
    .page-container {
      .items-list-container {
        .map-items {
          font-size: 20px;
          padding: 50px 30px 20px 30px;

          hr {
            margin: 20px;
          }
        }
      }
    }
  }
}
