<div class="map-items-container">
  <nav>
    <div class="search-container">
      <app-search-bar></app-search-bar>
    </div>
  </nav>
  <div class="page-container">
    <div class="sort-container">
      <P>Sort by:</P>
      <div class="sort-options">
        <!-- Sort by None -->
        <button
          mat-icon-button
          aria-label="Sort button None"
          (click)="selectSortBy('none')"
          [class]="{ selected: sortBy.value == 'none' }"
        >
          None
        </button>
        <!-- Sort Name Button -->
        <button
          mat-icon-button
          aria-label="Sort button Name"
          (click)="selectSortBy('name')"
          [class]="{ selected: sortBy.value == 'name' }"
        >
          Name
          <mat-icon
            class="icon"
            *ngIf="sortBy.ascending && sortBy.value == 'name'"
            >arrow_drop_up</mat-icon
          >
          <mat-icon
            class="icon"
            *ngIf="!sortBy.ascending && sortBy.value == 'name'"
            >arrow_drop_down</mat-icon
          >
        </button>
        <!-- Sort Date Button -->
        <button
          mat-icon-button
          aria-label="Sort button Date"
          (click)="selectSortBy('date')"
          [class]="{ selected: sortBy.value == 'date' }"
        >
          Date
          <mat-icon
            class="icon"
            *ngIf="sortBy.ascending && sortBy.value == 'date'"
            >arrow_drop_up</mat-icon
          >
          <mat-icon
            class="icon"
            *ngIf="!sortBy.ascending && sortBy.value == 'date'"
            >arrow_drop_down</mat-icon
          >
        </button>
      </div>
    </div>
    <div class="filter-container">
      <label for="filter">Show </label>
      <select name="filter" id="filter" (change)="selectShowBy($event)">
        <option value="all">All</option>
        <option value="foods/drinks">Foods / Drinks</option>
        <option value="parks/sights">Parks / Sights</option>
        <option value="sleep/rest">Sleep / Rest</option>
        <option value="sports show">Sports Shows</option>
        <option value="variety show">Variety Shows</option>
      </select>
    </div>
    <div class="items-list-container">
      <div
        class="map-items"
        *ngFor="
          let item of mapItems
            | async
            | searchFilterMarker: searchFilter
            | categoryFilter: categoryFilter
            | paginate: { itemsPerPage: 8, currentPage: p }
        "
      >
        <div class="top">
          <div class="name">
            <strong>{{ item.name }}</strong>
          </div>
          <div class="category">
            <img src="assets/icons/map-pin.svg" alt="" srcset="" />
            <span>{{ item.category }}</span>
          </div>
        </div>
        <hr />
        <div class="bottom">
          <div class="date">
            <strong>Created:</strong>
            <span>{{ item.created }}</span>
          </div>
          <div class="options">
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon style="font-size: 30px">edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              aria-label="Example icon button with a home icon"
              (click)="deleteItem(item.id)"
            >
              <mat-icon style="font-size: 30px">delete</mat-icon>
            </button>
            <!-- <span (click)="deleteItem(item.id)">
              <img src="assets/icons/trash-2.svg" alt="" srcset="" />
            </span> -->
          </div>
        </div>
      </div>
      <div class="paginate-container">
        <pagination-controls
          (pageChange)="p = $event"
          class="my-pagination"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
