@import "src/styles_variables.scss";

.add-items-container {
  background-color: $bg-secondary;
}
.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $bg-secondary;
}
.page-title {
  font-size: 24px;
  padding: 25px 0px 5px;
  color: $text-light;
}
.page-title-helper {
  color: $text-light;
}
.field-full-width {
  padding: 20px 10px;
  width: 100%;
}
.mat-card {
  margin-bottom: 8px;
  padding: 5px;
  background-color: $text-light;
}
.mat-card-content {
  padding-right: 25px;
}
.mat-form-field {
  background: $text-light;
}
.field-label {
  font-size: 17px;
  font-weight: 700;
  color: $text-dark;
}

.categories-section {
  padding: 10px;
  .checkbox {
    margin: 0 10px;
  }
}

.coord-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 180px;
    padding-top: 8px;
    small {
      padding: 10px 12px 0px;
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

.submit-btn {
  width: 100%;
  padding: 10px;
}

@media (min-width: 770px) {
  .page-title {
    padding-top: 60px;
  }
  .mat-card {
    margin-bottom: 25px;
  }
  .coord-container {
    flex-direction: row;
    .button-container {
      margin-right: 20px;
    }
  }
}
