<div>
  <app-topnav></app-topnav>
  <mat-sidenav-container class="admin-container">
    <mat-sidenav
      #sidenav
      class="sidenav-container"
      [mode]="sidebarMode.value"
      [opened]="!isMobile"
    >
      <div class="sidenav-header">
        <img src="/assets/icons/more-vertical.svg" (click)="sidenav.toggle()" />
      </div>
      <ul>
        <li
          *ngFor="let route of routes"
          [routerLink]="route.value"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="isMobile ? sidenav.toggle() : ''"
        >
          {{ route.name }}
        </li>
      </ul>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="toggle-container" *ngIf="!sidenav.opened">
        <img src="/assets/icons/more-vertical.svg" (click)="sidenav.toggle()" />
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
