<div>
  <app-topnav
    (menuToggled)="sidenav.toggle()"
    [showMenuToggle]="showMenuTopnav"
  ></app-topnav>
  <mat-sidenav-container class="admin-container full-page-height">
    <mat-sidenav
      #sidenav
      class="sidenav-container"
      [mode]="sidebarMode.value"
      [opened]="!isMobile"
      [fixedInViewport]="true"
      (opened)="showMenuTopnav = false"
      (closed)="showMenuTopnav = true"
    >
      <div class="sidenav-header">
        <img src="/assets/icons/more-vertical.svg" (click)="sidenav.toggle()" />
      </div>
      <ul>
        <li
          *ngFor="let route of routes"
          [routerLink]="route.value"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="isMobile ? sidenav.toggle() : ''"
        >
          {{ route.name }}
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
